{% extends "watchapp/base.html" %} 

{% block content %} 
    {% if form.errors %}
        <p>Usuario y/o contraseña errados. Por favor intenta nuevamente.</p>
{% endif %} 
{% load url from future %}
<!DOCTYPE html>
<html>
<head>
</head>
<link rel="stylesheet" href="{{ STATIC_URL }}css/styleSensor.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/redips-drag-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/scriptSensor.js"></script>

<br />
<br />
  
<form method="post" action="{% url 'watchapp:events_views' %}" id="get_property_info_by_name">
  {% csrf_token %}
 <fieldset class="planContainer">
     <legend>Propiedades</legend>
	<table style='width:100%;'>
	<tr>
	<td>
	    <form>
          <label>Fecha inicial</label>
          <br />
          <input type="datetime" name="fecha_inicial">
    </td>
    <td>
          <label>Fecha final</label>
          <br />
          <input type="datetime" id="fecha_sistema" name="fecha_final">
        </form>
    </td>
	<td style='width:50%;'>
		<div>
		<label>Inmuebles</label>
		<select id="select_as_owner" name="select_as_owner" onchange="get_property_info_by_name();" class="form-control" style="width: 200px;">
		<option value="0">Selecciona...</option>
		{% for each_property_as_owner in request.user.userprofile.properties_as_owner.all %}
										<option value="{{ each_property_as_owner.name }}">{{ each_property_as_owner.name }}</option>
		{% endfor %}
		</select>
		</div>
	</td>
	</tr>
	</table>
 </fieldset>
    <br />
    <div id="drag" style="width: 100%;visibility:hidden;">
        <table style="width: 100%;">
            <tr>

                <td style="vertical-align: top;">
 {% if selected_property.name %} 
<script type="text/javascript">
$('#select_as_owner option[value="{{ selected_property.name }}"]').prop('selected', 'selected');
$('#drag').css('visibility', 'visible');
</script>  
 {% else %}  
<script type="text/javascript">
$('#drag').css('visibility', 'visible');
</script>  
{% endif %}  

                    <fieldset class="planContainer planContainerData">
                        <legend>Eventos</legend>
                        <div style="height: 100%; min-height: 100%;">
                            <table class="table">
                                <tr>
                                    <td><b>Fecha</b></td>
                                    <td><b>Nombre</b></td>
                                    <td><b>Valor</b></td>
                                    <td><b>Tipo</b></td>
                                    <td><b>Critico</b></td>
                                    <td><b>Fatal</b></td>
                                    <td><b>Sensor</b></td>
                                </tr>
                                {% for Event in Events%}
                            <tr>
                                <td>{{ Event.date }}</td>
                                <td>{{ Event.description }}</td>
                                <td>{{ Event.value }}</td>
                                <td>{{ Event.type }}</td>
                                <td>{{ Event.is_critical }}</td>
                                <td>{{ Event.is_fatal }}</td>
                                <td>{{ Event.sensor }}
                                </td>
                            </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </fieldset>                    
                </td>
            </tr>
        </table>
    </div>
</form>

{% endblock %}
