{% extends "watchapp/base.html" %} 

{% block content %} 
    {% if form.errors %}
        <p>Usuario y/o contraseña errados. Por favor intenta nuevamente.</p>
{% endif %} 
{% load url from future %}


    <link rel="stylesheet" href="{{ STATIC_URL }}css/styleSensor.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/redips-drag-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/scriptSensor.js"></script>

<br />
<br />
  
<form method="post" action="{% url 'watchapp:get_owner_reports' %}" id="get_property_info_by_name">
  {% csrf_token %}
 <fieldset class="planContainer">
     <legend>Propiedades</legend>
	<table style='width:100%;'>
	<tr>
	<td style='width:50%;'>
		<div>
		<label>Inmuebles en los que soy propietario</label>
		<select id="select_as_owner" name="select_as_owner" onchange="get_property_info_by_name();" class="form-control" style="width: 200px;">
		<option value="0">Selecciona...</option>
		{% for each_property_as_owner in request.user.userprofile.properties_as_owner.all %}
										<option value="{{ each_property_as_owner.name }}">{{ each_property_as_owner.name }}</option>
		{% endfor %}
		</select>
		</div>
	</td>
	<td style='width:50%;'>
<label>Descripción del sensor</label>
    <input type="text" class="form-control" id="descriptionSensor" required>
	</td>
	</tr>
	</table>
 </fieldset>
    <br />
    <div id="drag" style="width: 100%;visibility:hidden;">
        <table style="width: 100%;">
            <tr>

                <td style="vertical-align: top;">

       
<fieldset class="planContainer">
                        <legend>Eventos de la propiedad</legend>
 {% if selected_property.name %} 
<label>{{ selected_property.name }}</label>

<script type="text/javascript">
$('#select_as_owner option[value="{{ selected_property.name }}"]').prop('selected', 'selected');
$('#drag').css('visibility', 'visible');
</script>  
 {% else %}  
<script type="text/javascript">
$('#drag').css('visibility', 'visible');
</script>  
{% endif %}  
                    {% for event in events%}
<tr id="tr{{Sensor.location_in_plan}}">
                                <td >{{ event.date }}</td>
                                <td >{{ event.description}}</td>
                                <td >{{ event.value}}</td>
                                <td >{{ event.type}}</td>
                                
                                    {% endfor %}
                    </fieldset>

                </td>
                <td style="vertical-align: top;">
                    <!-- table1 -->
                    <fieldset class="planContainer">
                        <legend>Eventos de la propiedad</legend>
                        <table style="width: 100%;">
                            <tbody>
                                <!-- clone 2 elements + last element -->
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;" class="trashContainer">
                                        <div class="trash" id="Trash"></div>
                                    </td>
                                    <td class="sensor">
                                        <span><b>LUZ</b></span>
                                        <div id="l0" class="drag l clone">L</div>
                                    </td>
                                    <td class="sensor">
                                        <span><b>TEMPERATURA</b></span>
                                        <div id="t0" class="drag t clone">T</div>
                                    </td>

                                    <td class="sensor">
                                        <span><b>HUMO</b></span>
                                        <div id="h0" class="drag h clone">H</div>
                                    </td>

                                    <td class="sensor">
                                        <span><b>MOVIMIENTO</b></span>
                                        <div id="m0" class="drag m clone">M</div>
                                    </td>

                                    <td class="sensor">
                                        <span><b>PUERTA</b></span>
                                        <div id="p0" class="drag p clone">P</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                                       
                </td>
            </tr>
        </table>
    </div>
</form>

{% endblock %}
